@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-stars bg-fixed text-foreground;
    @apply scrollbar-thin scrollbar-thumb-zinc-800 scrollbar-track-zinc-900;
  }

  @font-face {
    font-family: "SwOutline";
    src: url("/SwOutline.ttf") format("truetype");
  }
}

@layer components {
  .pagination-big {
    @apply text-4xl my-40 w-[4%] flex items-center justify-center font-bold rounded-3xl max-w-xs;
  }

  .title {
    @apply font-sw-outline font-semibold text-3xl text-yellow w-full flex items-center justify-center;
  }
}
